<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  
  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css'>
  
  <!-- Use title if it's in the page YAML frontmatter -->
  <title><%= current_page.data.title || "The Middleman" %></title>
  
  <%= stylesheet_link_tag "screen" %>
  <%= javascript_include_tag  "all" %>
  <meta name="google-site-verification" content="nqPxYCqsKL9yMZkx9lopvJ6QOnWigF6fDbHfMDAR0Qs" />
</head>

<body class="<%= page_classes %>">
  <div class="page-outer">
    <div class="page">
      <div class="page-inner">
    <header class="page-header">
      <object id="logo" data="assets/klassikbewegt-logo.svg" type="image/svg+xml">
        <%= image_tag 'assets/klassikbewegt-logo.svg', :alt => 'logo' 
        %>
      </object>
    </header>
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>